footer {
    background-color: #FFF;
    height: 60px;
    white-space: nowrap;
    width: 100%;
    line-height: 60px;
    position: absolute;
    bottom: 0px;
    border-bottom: 1px #CCC;
    border-top: 1px solid #CCC;
    display: flex;
    align-items: center;
    justify-content: center;
}
